<div class="lg:p-5 sm:p-3">
  <mat-card class="white-card px-[0px] pb-0 overflow-hidden custom-card">
    <mat-card-header class="flex items-center justify-between px-[10px] pb-[15px]">
      <div mat-card-title class="mb-0">Rewarded Users</div>
      <div class="form-group w-[300px]">
        <input class="form-control text-black placeholder:text-slate-300" type="number"
          placeholder="Enter top count of users" [(ngModel)]="query" (ngModelChange)="refreshTable()" />
      </div>
    </mat-card-header>

    <mat-card-content class="mb-0 table-height">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="w-full white-table custom-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Full Name </th>
            <td mat-cell *matCellDef="let user" class="whitespace-nowrap	"> {{user.name}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Email</th>
            <td mat-cell *matCellDef="let user" class="whitespace-nowrap	"> {{user.email}} </td>
          </ng-container>
          <ng-container matColumnDef="phone_number">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Phone Number</th>
            <td mat-cell *matCellDef="let user" class="whitespace-nowrap	"> {{user.phone_number}} </td>
          </ng-container>

          <ng-container matColumnDef="account_balance">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Balance</th>
            <td mat-cell *matCellDef="let user" class="whitespace-nowrap">
              ₹ {{user.account_balance}}
            </td>
          </ng-container>

          <ng-container matColumnDef="child_count">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Children</th>
            <td mat-cell *matCellDef="let user" class="whitespace-nowrap">
              {{user.child_count}}
            </td>
          </ng-container>


          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              No data found.
            </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="compact-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="compact-cell-row"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
