<div class="lg:p-5 sm:p-3">
  <mat-card class="white-card px-[0px] pb-0 overflow-hidden custom-card">
    <mat-card-header class="flex items-center justify-between px-[10px] pb-[15px]">
      <div mat-card-title class="mb-0">Withdraw History</div>
      <div class="flex items-center justify-center">
        <mat-form-field appearance="outline"
          class="compact-input mr-[10px] no-error-spacing white-theme h-[30px] text-sm">
          <mat-select placeholder="Field" [(ngModel)]="filterObj.field" (ngModelChange)="filterUser()">
            <mat-option *ngFor="let field of searchFields" [value]="field">{{field}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline"
          class="compact-input mr-[10px] no-error-spacing white-theme h-[30px] text-sm">
          <mat-select placeholder="Matcher" [(ngModel)]="filterObj.operator" (ngModelChange)="filterUser()">
            <mat-option *ngFor="let operator of operators" [value]="operator.value">{{operator.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-group mb-0">
          <input class="form-control min-h-0 h-[30px] text-sm text-black placeholder:text-slate-300" type="text"
            placeholder="Value" [(ngModel)]="filterObj.value" (ngModelChange)="filterUser()" />
        </div>
        <button mat-flat-button type="button" color="primary"
          class="text-white min-h-0 h-[30px] flex items-center px-[5px] min-w-0 ml-[10px]" (click)="clearFilter()">
          Clear</button>
      </div>
    </mat-card-header>

    <mat-card-content class="mb-0 table-height">
      <div class="table-container">
        <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource"
          class="w-full white-table custom-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Full Name </th>
            <td mat-cell *matCellDef="let transaction" class="whitespace-nowrap	"> {{transaction?.user.name}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Email</th>
            <td mat-cell *matCellDef="let transaction" class="whitespace-nowrap	"> {{transaction?.user.email}} </td>
          </ng-container>
          <ng-container matColumnDef="phone_number">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Phone Number</th>
            <td mat-cell *matCellDef="let transaction" class="whitespace-nowrap	"> {{transaction?.user.phone_number}}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap" mat-sort-header> Pait Amount (₹)</th>
            <td mat-cell *matCellDef="let transaction" class="whitespace-nowrap">
              ₹ {{transaction.amount}}
            </td>
          </ng-container>


          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              No data found.
            </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="compact-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="compact-cell-row"></tr>
        </table>
      </div>
    </mat-card-content>

    <mat-card-footer class="m-0  rounded-b-sm overflow-hidden bg-white text-black">
      <!-- <mat-paginator class="bg-white white-paginator" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons>
      </mat-paginator> -->
      <mat-paginator class="bg-white white-paginator" [disabled]="isLoading" [length]="pagination?.length"
        [pageIndex]="pagination?.page" [pageSize]="pagination?.size" [pageSizeOptions]="[1,5, 10, 25, 50, 100, 250]"
        [showFirstLastButtons]="true" (page)="pageChange($event)"></mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
